
.title{
    font-family: sans-serif;
    color: #dc2d5e;
    text-align: center;
}
.tabContainer{
    width: 100%;
    height: 100%;
}
.tabContainer .buttonContainer{
    height: 10%;
}

.tabContainer .buttonContainer button{
    width: 33.33%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 0.1vw;
    font-size: 16px;
    background-color: orange;
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 130%;
    background-color: rgb(255, 241, 243);
    color: white;
    text-align: center;
    padding-top: 1.25vw;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    display: none;
}

#my-image{
    height: 25%;
    width: 25%;
    border-radius: 70%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
 height: 50px;
}
tr:hover {background-color: rgb(255, 255, 255);}
td, th {
  border: 0.06510416666666667vw solid #dddddd;
  text-align: left;
  padding: 0.2604166666666667vw;
  border: 2px solid black;
}


.footer {
    height: 10%;
   position: fixed;
   bottom:0vw;
   padding: 10px;
   width:100%;
  display: flex;
   background:rgb(167, 179, 185);
}
.footer .nav-links{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.copyright{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.timer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.card {
  /* Add shadows to create the "card" effect */

   justify-content: space-between;
   text-align: center;
  box-shadow: 0 0.2604166666666667vw  0.5208333333333334vw 0 rgba(0,0,0,0.4);
  transition: 0.1s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0  0.5208333333333334vw 1.0416666666666667vw 0 rgba(0,0,0,0.9);
  background-color: #b17a76;
}

/* Add some padding inside the card container */
.container {
  padding: 0.13020833333333334vw 1.0416666666666667vw;
}
.column {
  float: left;
  width: 50%;
  padding: 0 0.3255208333333333vw;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.row {margin: 0 -0.3255208333333333vw;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 39.0625vw) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 0.6510416666666666vw;
  }
}
/* Add rounded corners to the top left and the top right corner of the image */

html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  background: yellow;
}
.fa {
  padding: 1.3020833333333333vw;
  font-size: 1.953125vw;
  text-align: center;
  text-decoration: none;
  margin: 0.3255208333333333vw 0.13020833333333334vw;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
img {
  width: 13.020833333333334vw;
  height: 26.52519893899204vh;
  
}
a:hover {
  color: blue;
}


.skill-heading{
    text-align: center;
    font-weight: 800;
   
}
.skill-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color:white;
    height: 100%;
    width: 100%;
}
      

.skill-display{
    width: 80%;
    color: white;
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    
}
.skill-progress{
    width: auto;
    height: 2rem;
    background-color: rgb(196, 227, 238);
    border-radius: 0.9rem;  
    
}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}
.mb-blue{
    background-color:  darkblue;
}
.mb-red{
    background-color: darkred;
}

.ninty-percent{
    width: 90%;
    height:inherit;
}
.eighty-percent{
    width: 80%;
    height:inherit;
}
.sixty-percent{
    width: 60%;
    height:inherit;
}
.seventy-percent{
    width: 70%;
    height:inherit;
}
.ninty-five-percent{
    width: 95%;
    height:inherit;
}

#name{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.my-profile{
    margin-top: 10%;
    height: 25rem;
    margin: auto;
    width: 70%;
   color: black;
   
}
.table .connection{
    border: 1px solid black;
}
.about-desc{
    text-align:left;
}
